
body, html, p, h1, h2, h3, h4, h5, h6, table, thead, tbody, tfoot, tr, td, th, img, div, ul, ol, li, dl, dt, dd, span {
    margin: 0;
    padding: 0;
    font-family: Klinic;
    line-height: 1.5em;
}

@font-face {
    /* font-properties */
    font-family: Klinic;
    src: url('Klinic.otf');
}

.des {
    height: 80px;
    margin-top: 20px;
}

#img {
    width: 300px;
    height: 200px;
}

.card-img-top {
    width: 100%;
    height: 100%;
}